/* 
para criar variável de paleta só colocar ':root'

Isso puxa a variável
var ()
 
*/
:root {
    --corTextoH2 : red;
}


/* '*' toda a página */
* {
    font-family: 'Rampart One', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: var(--corTextoH2);
    font-size: 26px;
}

/* ID é # -> elemento unico */
#Id {
    background-color: rgb(0, 0, 0);
}

/* CLASS é . -> vários elementos */
.Classe {
    color:  green;
}